/* You can add global styles to this file, and also import other style files */
body{
    background-color: #C4835E;
    font-family: "Constantia";
    margin: 0px;
}

.hintergrund_hell{
	background-color:#FADCB9;
	color:#684432;
}

.hintergrund_dunkel{
	background-color:#C4835E;
	color:black;
}

.anklickbar{
	cursor:pointer;
}
