<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Jahr </th>
      <td mat-cell *matCellDef="let year"> {{year.year}} </td>
    </ng-container>

    <ng-container *ngFor='let country of countries' matColumnDef="{{country}}">
        <th mat-header-cell *matHeaderCellDef> {{country}} </th>
        <td mat-cell *matCellDef="let year">
          // TODOODO
          <span *ngIf="year.countries.includes(country.country)">
            yay
              <div class='flexContainer'>
                  <div class='buttonDiv add' (click)='addCent(country.combination);'>&nbsp;</div>
                  <div class='buttonDiv remove' (click)='removeCent(country.combination);'>&nbsp;</div>
                  <div class='info'>{{centCount[country][year]}}</div>
              </div>
          </span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<!--

<Table>
  <tr>
    <th rowspan='2'>Jahr</th>
    <th colspan='5'>Deutschland  <img alt='Deutschland' title='Deutschland' src='assets/images/flaggen/deutschland.gif' /></th>
  </tr>
  <tr>
    <th>Berlin</th>
    <th>München</th>
    <th>Stuttgard</th>
    <th>Karlsruhe</th>
    <th>Hamburg</th>
  </tr>
  <tr>
    <td>2002</td>
    <td>

    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(1);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(1);'>&nbsp;</div>
        <div class='info'>{{centCount[1]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(2);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(2);'>&nbsp;</div>
        <div class='info'>{{centCount[2]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(3);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(3);'>&nbsp;</div>
        <div class='info'>{{centCount[3]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(4);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(4);'>&nbsp;</div>
        <div class='info'>{{centCount[4]}}</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>2004</td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(5);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(5);'>&nbsp;</div>
        <div class='info'>{{centCount[5]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(6);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(6);'>&nbsp;</div>
        <div class='info'>{{centCount[6]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(7);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(7);'>&nbsp;</div>
        <div class='info'>{{centCount[7]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(8);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(8);'>&nbsp;</div>
        <div class='info'>{{centCount[8]}}</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add' (click)='addCent(9);'>&nbsp;</div>
        <div class='buttonDiv remove' (click)='removeCent(9);'>&nbsp;</div>
        <div class='info'>{{centCount[9]}}</div>
      </div>
    </td>
  </tr>

</Table>

<button>submit!</button>
-->
