<div>
  <img *ngFor='let land of laender' alt='{{land}}' title='{{land}}' src="assets/images/flaggen/{{land}}.gif" />
</div>

<Table>
  <tr>
    <th>Jahr</th>
    <th>Land 1</th>
    <th>Land 2</th>
    <th>Land 3</th>
    <th>Land 4</th>
    <th>Land 5</th>
    <th></th>
  </tr>
  <tr>
    <td>Jahr</td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Jahr</td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Jahr</td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
    <td>
      <div class='flexContainer'>
        <div class='buttonDiv add'>&nbsp;</div>
        <div class='buttonDiv remove'>&nbsp;</div>
        <div class='info'>Anzahl</div>
      </div>
    </td>
  </tr>
</Table>
