#counterblock{
	text-align:right;
	position:fixed;
	top:30px;
	right:20px;
}

.counter{
	border: solid #582C24 1px;
	padding:3px;
	font-weight: bold;
	color: black;
	font-size: 2em;
	font-family:"Consolas";
	background-color:#FADCB9;
}
