.counter{
	border: solid #582C24    1px;
	padding:3px;
	font-weight: bold;
	color: #FADCB9;
	font-size: 2em;
	font-family:"Consolas";
	background-color: #c4835e;
}

#counterblock{
  width: 100%;
  display: flex;
}

#stand{
  color: #FADCB9;
  text-align: center;
}
