
<app-counter></app-counter>

<img id="logo" class='anklickbar' routerLink="/" src="assets/images/unsercent.png" />
<ul>
  <li class='anklickbar' routerLink="/add" routerLinkActive="active" class="routerlink"> Eintragen </li>

  <li class='anklickbar' routerLink="/stat" routerLinkActive="active" class="routerlink"> Statistik</li>
  <li class='anklickbar' routerLink="/report" routerLinkActive="active" class="routerlink"> Zuwachs</li>
  <li class='anklickbar' routerLink="/ranking" routerLinkActive="active" class="routerlink"> Ranking</li>

  <li class='anklickbar' routerLink="/comb" routerLinkActive="active" class="routerlink"> Kombinationen</li>
  <li class='anklickbar' routerLink="/history" routerLinkActive="active" class="routerlink"> Verlauf</li>
</ul>
