<mat-toolbar>
  <img alt="Cents!" src="assets/images/unsercent.png" (mouseover)="drawer.open()" class='logo'/>
  <h1>Unsere 1-Cent-Sammlung</h1>
  <app-counter></app-counter>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" >
                 <app-navigation></app-navigation>
    </mat-drawer>

    <mat-drawer-content (click)="drawer.close()">
        <div class='opener' (mouseover)="drawer.open()">&nbsp;</div>
        <div>
            <h2>{{ headline }}</h2>
          <router-outlet class='content'></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>


