#linkBlock{    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.flexContainer{
    flex-basis: 110px;    
    display: flex;
    justify-content: space-evenly; 
    align-items: center;           
}

h1{    
    text-align: center;
    font-size: 3em;
}

