<div>
  <h1> Unsere 1-Cent-Sammlung</h1>
  <app-counter></app-counter>
</div>
<div id='linkBlock'>
  <div class='flexContainer'>
    <img routerLink="/add" routerLinkActive="active" title="Cents eintragen" alt="Cents eintragen" src="assets/images/eintragen.png" />
  </div>
  <div class='flexContainer'>
    <img routerLink="/report" routerLinkActive="active" title="Monatsabrechnung" alt="Monatsabrechnung" src="assets/images/monatsabrechnung.png"  />
    <img routerLink="/history" routerLinkActive="active" title="History" alt="History" src="assets/images/history.png" />
  </div>
  <div class='flexContainer'>
    <img routerLink="/comb" routerLinkActive="active" title="Pr&auml;gekombinationen" alt="Pr&auml;gekombinationen" src="assets/images/praegekombi.png"  />
    <img alt="Cents!" src="assets/images/unsercent.png"/>
    <img routerLink="/add" routerLinkActive="active" title="deutsche Cents eintragen" alt="deutsche Cents eintragen" src="assets/images/deutscheintragen.png" />
  </div>
  <div class='flexContainer'>
    <img routerLink="/stat" routerLinkActive="active" title="Statistiken" alt="Statistiken" src="assets/images/statistiken.png" />
    <img routerLink="/ranking" routerLinkActive="active" title="Ranking" alt="Ranking" src="assets/images/ranking.png" />
  </div>
  <div class='flexContainer'>
    <img routerLink="/save" routerLinkActive="active" title="Datensicherung" alt="Datensicherung" src="assets/images/datensicherung.png"  />
  </div>
</div>
